@model TestingFramework.ViewModels.Setup.EditCategoryTestViewModel

@{
    ViewData["Title"] = "Edit Test";
}

<style>
    .action-btn {
        width: 100px;
    }

    .btn-border {
        border: medium;
    }
</style>

<h1>Edit Category Test</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="EditCategoryTest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => Model.Test.ID)
            @Html.HiddenFor(model => Model.Test.CategoryID)
            <div class="form-group">
                <label class="control-label">Category</label>
                @Html.DropDownListFor(model => model.SelectedCategoryID, Model.CategoriesList, new { @class = "form-control btn btn-outline-dark dropdown-toggle" })
                <span asp-validation-for="SelectedCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Test.Description" class="control-label"></label>
                <input asp-for="Test.Description" class="form-control" />
                <span asp-validation-for="Test.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Test.ExpectedResult" class="control-label">Expected Result</label>
                <input asp-for="Test.ExpectedResult" class="form-control" />
                <span asp-validation-for="Test.ExpectedResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Test.Value" class="control-label"></label>
                <input asp-for="Test.Value" class="form-control" />
                <span asp-validation-for="Test.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.ActionLink("Back", "CategoryDetails", new { id = Model.Test.CategoryID }, new { @class = "btn btn-secondary action-btn", @style = "float:left" })
                <input type="submit" value="Save" class="btn btn-success action-btn" style="float:right" />
            </div>
        </form>
    </div>
</div>
